html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Arial";
    background: url('/background.png');
    color:white;
}


p {
	font-size: .75em;letter-spacing:.1em;margin: 1em;
}

nav {
    overflow:auto;
    font-size: 25px;
    width: 15.95em;
    height: 100%;
    background-color: rgba(51,51,51,0.7);
    z-index: 1;
    color: #eee;
    font-family: Helvetica Neue, Helvetica, arial;
}



#login-name-link {
margin-top: .5em;
	font-size: .8em;
	margin-right: .5em;
}

#login-buttons-facebook,div.or {
    display: none;
}

nav h3{
padding-top: .5em;
width: auto;float: left;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 26.5em;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 30em;
}

#group_add span.marker {
	line-height:1.5em;padding: .25em .45em;float: left;
}

#login-name-link {
	width: 100%;
}

#login-dropdown-list {
margin-top: 3em;
margin-right: 1.35em;
}




.close {
  position:fixed;
  top: 20px;
  opacity: .8;
  z-index: 9999;
  right: 20px;
  padding:5px;
}
.close:hover{
  opacity:1;
}

.login{
  font-size: 1em;
  float: left;
  width: 99%;
  text-align: right;
  padding: .4em 0;
  background-color: white;
  color: black;
}


#marker_edit label {
	color: teal;
	font-size: 1.3em;
	margin: 0;
	padding-bottom: .25em;
	border-bottom: 1px solid black;
	margin-bottom: .25em;
}

#main_menu {
    height: auto;
	background-color: white;
	padding: .25em ;
}

/* for geolocate */

#main_menu img,a.geolocate img{background-color: white;width: 1.5em;height: 1.5em;border-radius: 5px;border-bottom-right-radius:0px; border-bottom-left-radius: 0px;
	margin-right: .7em;
	float: left;clear: none;padding: .5em .4em;
}

span.span.add-on {
	color: green;
	width: 5em;
}


a.edit_marker {
	padding: .25em;
	float: left;
}

div#marker_edit {
	padding-top: .5em;
}
a.geolocate img{
background-color: green;
	border-radius: 10px;	
}

#login-buttons-password {
	height: auto;float: left;clear: both;width: 90%;
}

#marker_edit fieldset.span4 {
	margin-left: 0;
	margin-top: 1em;
	font-size: .85em;
	color: black;
	float: left;
	text-align: left;
	width: 55%;
}

