/* @override http://localhost:3000/client/css/client.css?4c6f94aef8b06d7b0b42fbf694fbaa6b42c51c6f */


html, body {

    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Arial";
    color:white;
}
p {
	font-size: .75em;letter-spacing:.1em;margin: 1em;
}

div.infoWindow p {
float: left;	font-size: 1em;width: 5em;
}

nav {
    font-size: 25px;
    width: 7.95em;
    overflow:scroll;
    height: 100%;
    z-index: 1;
    color: #eee;
    font-family: Helvetica Neue, Helvetica, arial;
}

div.span.focus_marker {
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;

}

a.instaUser,#the_markers div.span.focus_marker.instaMarker a {
background-color: white;
	padding: .5em;
	float: right;
	opacity: 0.85;
	margin-top: -98%;
}


#the_markers div.span.focus_marker img {
	float: left;clear:left;

}



div.infoWindow b {
color: blue;
clear: both;float: right;
}

b.instaTitle {
	color: black !IMPORTANT;
	clear: both;
	margin-top: 1em;
}

div.infoWindow p {
	float: right;	width: 14em;
}

div.infoWindow p strong {
	float: right;
	clear: both;
}
#the_markers div.span.focus_marker b{
	clear: both;float: left;width: 100%;
	padding: 0;
	margin: 0;
}

#login-name-link {
	margin-top: .5em;
	font-size: .8em;
	margin-right: .5em;
}

#login-buttons-facebook,div.or {
    display: none;
}

.infoWindow{
    color:black;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 13.5em;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 30em;
}


#login-name-link {
	width: 100%;
}

#login-dropdown-list {
margin-top: 3em;
margin-left: 13.35em;
}


.close {
  position:fixed;
  top: 20px;
  opacity: .8;
  z-index: 9999;
  right: 20px;
  padding:5px;
}
.close:hover{
  opacity:1;
}

.login{
  font-size: 1em;
  float: left;
  width:7.25em;
  height: 3.5em;
  text-align: right;
  padding: .4em 0;
  background-color: silver;
  z-index: 10;
  color: black;
  position: fixed;
}

#login-name-link {
	font-size: .55em;
}

a.btn.user_self {
	margin-top: 2em;
	float: right;
}

fieldset {
font-size: .65em; padding: .4em;float: left;clear: right;
}

#main_menu {
    height: 95%;
	background-color: black;
	color: white;
}


#main_menu ul{
	list-style-type: none;
	
}

#main_menu li{
	padding-bottom: .45em;
	line-height:1.5em;
}

span.span.add-on {
	color: green;
	width: 5em;
}

#login-buttons-password {
	height: auto;float: left;clear: both;width: 90%;
}

div#login-dropdown-list.accounts-dialog {
	margin-top: 1.7em;
	margin-right: -3em;	
	position: absolute;
}

#map_canvas em {
float: right;
clear: both;
margin-top: .5em;
	
}

div#the_markers {
	border-top: 1px solid gray;
	margin-top: 5em;
	float: left;
	background-color: black;
}

form.span {
margin: 0;
	margin-top: 1em;
}