
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Arial";
    background: url('/background.png');
    color:white;
}


p {
	font-size: .75em;letter-spacing:.1em;margin: 1em;
}

nav {
    overflow:auto;
    font-size: 25px;
    width: 15em;
    background-color: rgba(51,51,51,0.7);
    z-index: 1;
    text-shadow: 0 -1px 0 #bbb;
    color: #eee;
    font-family: Helvetica Neue, Helvetica, arial;
    margin-left: .5em;
}

#login-name-link {
margin-top: .5em;
	font-size: .8em;float: left;
}

#login-buttons-facebook,div.or {
    display: none;
}

nav h3{
padding-top: .5em;
width: auto;float: left;
}

input{
	margin: 0;
	float: left;
	margin-top: .5em;width: 85%;
		margin-bottom: 1em;
	
}

#marker_edit fieldset input.new_service {
width: 90%;
}

input.marker_x,input.marker_y{
	width: 2em;
	
}
input.edit_marker{
float: right;
margin-right: 1.5em;
margin-top: .1em;
}

#user_settings a {
margin-right: 1em;
float: right;
color: white;
}

#phone_number,#email{
float:left;
}


.greyed {
    opacity: 0.05;
}

.hide {
  opacity: 0.0;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 26.5em;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}



input.del_marker {
	margin-right: 1em;
}


#groups{
	
	padding-top: 2em;
}

#group_add span.marker {
	line-height:1.5em;padding: .25em .45em;float: left;
}

#group_add input{
	float: left;clear: both;
}


textarea.group_desc {
margin-top: .5em;
margin-left: 10%;width: 79%;
	clear: both;float: left;
}


#groups input{
	margin: 0 5%;
	line-height: 2em;
}

#login-name-link {
	width: 100%;
}

#login-dropdown-list {
margin-top: 3em;
margin-right: 1.35em;
}

nav small{width: 98%;float: left;margin-top: 1em;
	font-size: .70em;
}

#searchTextField {
  margin: 5px 0 5px 50px;
}
.no-photos {
  color:white;
  margin: 50px 0px 0px 30px
}

nav ul {
list-style-type: none;
margin: 0;line-height: 2em;float: left;	
}

nav li{
	line-height: 1.3em;
}

.close {
  position:fixed;
  top: 20px;
  opacity: .8;
  z-index: 9999;
  right: 20px;
  padding:5px;
}
.close:hover{
  opacity:1;
}


#login {width:100%;clear:both;
  margin:2px 20px 0 0;
}

.popupPhoto {
  height:250px;
  width:250px;
}

.popupText {
  position:relative;
  text-shadow: 0 -1px 0 #bbb;
  color: #333;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 25px;
  padding: 4px 45px 4px 15px;
  font-weight: bold;
}

.profilePicture {
  height:30px;
  width:30px;
}

.login{
  font-size: 1em;
  text-align: right;
  float: right;
  width: 100%;
}



label {
color: black;text-align: left;
margin-left: 1.5em;
line-height: 1em;
font-size: .75em;

}


#main_menu div{
width: 90%;
padding-top: .25em;
padding-left: 5%;
	background-color:white;float: left;
}




#login-name-link {
	margin: 0;padding: 0;font-size: .65em;color: white;line-height: 1.2em;
}



/* for geolocate */

select{
 width: 90%;
margin-top: .5em;	
}

#main_menu img,a.geolocate img{background-color: white;width: 1.5em;height: 1.5em;border-radius: 5px;border-bottom-right-radius:0px; border-bottom-left-radius: 0px;
	margin-right: .7em;
	float: left;clear: none;padding: .2em .4em;
}

a.geolocate img{
background-color: green;
	border-radius: 10px;	
}

#marker_edit {
	margin-top: 1em;
}

#login-buttons-password {
	height: auto;float: left;clear: both;width: 90%;
}

#marker_edit fieldset.span4 {
	margin-left: 0;
	margin-top: 1em;
	font-size: .85em;
	color: black;
	float: left;
	text-align: left;
	width: 55%;
}


#marker_edit input.add_service {
float: left;	clear: both;
width: 92%;
}



#marker_edit fieldset.span4 {
	float: left;font-size: .55em;
	margin-left: 1em;
}

#marker_edit fieldset {
	margin: .25em;clear: both;
}

#marker_edit {
}




