<head>
    <title>instageo - gmaps + instagram api</title>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    
</head>

<body>
{{>content}}
</body>


<template name="content">
    {{#if hasInstaCode}}
    
    {{#isolate}}
    {{> nav}}
    {{/isolate}}

        <div id="container">
    
            {{> map}}
        </div>
    
        {{else}}
        <input id="instaAuth" type="button" value="Login to instagram"/>
        {{>public_view}}
        {{/if}}
</template>

<template name="map">
<div class="map" id="map_canvas"></div>
</template>

<template name="public_view">
 <h3 style="padding-top:4em;margin-left:1.25em;color:black;">Instageo</h3>
            
        <div class="span" style="padding:1em;color:black">
            <em>An <a href="http://instagram.com/developer/">Instagram-API</a> and Google Maps-API powered visualization of instagram posts with location data!</em>
            <ul style="padding-top:.5em;"><li>Log in with instagram account</li><li>Click sidebar thumbnails to center map. Click thumbnail image markers to pull up post information and search for nearby locations. Click red location markers to find related public posts to that location. </p></li></ul>
            
            <b><a href="http://redcapmedia.com">Ronaldo Barbachano 2013</a></b>
        </div>

</template>