<template name="add_marker">

            <div  id="marker_add" class="row">
            <br/>&nbsp;
            <label>Create Marker</label>

            <div class="span input-prepend">
                <span class="span add-on">Name</span>
                <input class="span marker_name" id="prependedInput" type="text" placeholder="Marker Name">
            </div>
            
            <div class="span input-prepend">
                <span class="span add-on">Address</span>
                <input type="text"   placeholder="Street Address" class="marker_address">
            </div>
            
                <fieldset class="row">
                    <fieldset class="span">
			    <label class="inline">Type
			    <select class="marker_type">
                        {{#each markerTypes}}
                        <option value="{{name}}">{{name}}</option>
			{{/each}}
                    </select>
                    </label>
                    
                    </fieldset>
                    <fieldset class="span">
                    <label class="inline">Group
                    <select class="marker_group">
                        <option value="">None</option>
			{{#each userGroups}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
		</select>
                    </label>
                    </fieldset>
                </fieldset>
        <fieldset class="span">
        <input type="button" class="btn-primary add_marker" value="Add">
        <legend></legend>
        </fieldset>
        </div>
</template>

<template name="services_offered">
    <div class="input-append">
	    <fieldset>
        {{#if services}}
            <select name="services_offered" class="span add_services">
            {{#each services}}
               <option id="{{_id}}">{{title}}
            {{/each}}
            </select>
                    <button class="btn add_service" type="button">Add Service</button>

         </fieldset>
        <fieldset>
        {{else}}
            <label>Please create a new service to add to this marker.</label>
	    {{/if}}
        </fieldset>        
</div>
{{>new_marker_service}}
	</template>

<template name="new_marker_service">
	<div class="input-append"><fieldset>
            <input class="span new_service_input" id="appendedInputButton" type="text">
	    <button class="btn new_service" type="button">New Service</button></fieldset>
        </div>
</template>

<template name="marker_services">
    {{#if currentServices}}
    <fieldset>
            <legend>Marker Services</legend>
        {{#each currentServices}}
            <fieldset class="span4"><a id="{{_id}}" href="#" class="btn del_marker_service">x</a>&nbsp;{{title}}</fieldset>
	    {{/each}}
    {{/if}}
    </fieldset>
</template>

<template name="edit_marker">
<div id ="marker_edit">
<form>
	 <label class="span">{{name}} - {{type}}</label>

    {{#if canEdit}}
            <div class="input-prepend">
                <span class="span add-on">Name</span>
                <input class="span marker_name" id="prependedInput" type="text" placeholder="Marker Name" value="{{name}}">
            </div>

            <div class="input-prepend">
                <span class="span add-on">Type</span>
                <input class="span marker_type" id="prependedInput" type="text" placeholder="Marker Type" value="{{type}}">
            </div>
            {{#if userGroups}}
    <fieldset>
            <div class="input-prepend">
                <span class="span add-on">Group</span>
                <select class="span marker_group">
                <option value="">None</option>
                {{#each getUserGroups this.group}}
                <option value="{{_id}}" {{selected}}>{{name}}</option>
                {{/each}}
                </select>
            </div>
        </fieldset>
            {{/if}}

            {{>marker_services}}
            <legend></legend>
    
                {{>services_offered}}
            <legend></legend>
                <fieldset class="span">
                    <input type="button" class="btn-primary update_marker" value="Update">
                    <input type="button" class="btn del_marker" value="Remove">
                </fieldset>
            
	{{else}}
        {{#if currentServices}}
               {{#each currentServices}}
                <span class="marker_service">{{title}}</span>
                {{/each}}
        {{/if}}
        {{/if}}
    </form>

    </div>
</template>

<template name="markers">
<span class="marker"><a href="#" class="edit_marker">
{{name}}</a></span>
</template>
