<template name="add_marker">
    <div id="marker_add" >
        <fieldset>
            <label>Marker Name</label>
            <input type="text"   placeholder="Name" class="marker_name">
            <fieldset>
                <div class="row">
                <span class="span2"><label>Kind</label>
                <select class="marker_type">
                    {{#each markerTypes}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
                </span>
                
                <span class="span2"><label>Group</label>
                <select class="marker_group">
                    <option value="">None</option>

                    {{#each userGroups}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                
                </span>
                </div>
            </fieldset>
        <input type="text"   placeholder="Street Address" class="marker_address">
        <input type="button" class="btn add_marker" value="Add">
        </fieldset>
    </div>
</template>

<template name="services_offered">
    <fieldset>
    {{#if services}}
        <select name="services_offered" class="add_services" size="3">
        {{#each services}}
           <option id="{{_id}}">{{title}}
        {{/each}}
        </select>
        <input type="button" class="btn add_service" value="Add Service">
        
    {{else}}
        <label>Please create a new service to add to this marker.</label>
    {{/if}}
    </fieldset>
</template>

<template name="edit_marker">
<div id ="marker_edit">
    {{#if canEdit}}
        <label>Marker Name</label>

        <input type="text"   placeholder="marker Name" class="marker_name" value="{{name}}">
        <label>Marker Kind</label>

        <input type="text"   placeholder="Marker Type" class="marker_address" value="{{type}}">
        <label>Group Id</label>
        <input type="text"   placeholder="Group" class="group_id" value="{{group}}">
        
        {{>services_offered}}
        <br/>
        <input type="button" class="btn-primary edit_marker" value="Update">
        <fieldset class="span4"><input type="button" class="btn del_marker" value="Remove"></fieldset>

        <div class="input-append">
            <input class="span2 new_service_input" id="appendedInputButton" type="text">
            <button class="btn new_service" type="button">New Service</button>
        </div>
        {{#each currentServices}}
        <fieldset class="span4"><a href="#" class="del_marker_service btn" id="{{_id}}">x</a>&nbsp;{{title}}</fieldset>
        
        {{/each}}
    {{else}}
        <label>{{name}} - {{type}}</label>
        {{#each currentServices}}
        <fieldset class="span4">{{title}}</fieldset>
        {{/each}}
    {{/if}}
    </div>
</template>

<template name="markers">
<span class="marker"><a href="#" class="edit_marker">
{{name}}</a></span>
</template>