<template name="nav">
    <nav>
        <span class="login">
                    {{#if hasInstaCode}}
                        <input id="logout" type="button" value="Logout"/>
                        {{#if instaPostReady}}
                            <form class="span" style="font-size:.85em;">
                            {{#if getStatus}}<label class="status">{{getStatus}}</label>{{/if}}
                            <fieldset>
                                <input id="mFilterDefault" name="mFilter" type="radio" value="likes" /> Default
                                <input id="mFilterLikes" name="mFilter" type="radio" value="likes"/> Likes
                                <input id="mFilterLastChange" name="mFilter" type="radio" value="lastHit"/> Change
                            </fieldset>
                            </form>
                        {{else}}
                            <b>requesting...</b>
                        {{/if}}
                    {{else}}
                        <input id="instaAuth" type="button" value="Login to instagram"/>
                    {{/if}}

       </span>
            {{#if hasInstaCode}}
                {{>loggedInMenu}}
            {{else}}
                {{>public_view}}
            {{/if}}
    </nav>
</template>

<template name="loggedInMenu">
    <div id="main_menu">
        {{#if loggingIn}}
            <b style="color:black;">working...</b>
        {{else}}
            {{#if hasInstaCode}}
              <div id="the_markers">
                {{#each instaMarkers}}
                    {{>instaMarker}}
                {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="instaMarker">
    <div id="{{_id}}" class="span focus_marker instaMarker">
    <img src="{{image_thumb}}"/>
    <span class="locCheck">{{getLocationsLength}}</span>
    </div>
</template>

<template name="public_view">
 <h3 style="padding-top:4em;margin-left:1.25em;color:black;">Instageo</h3>
            
        <div class="span" style="padding:1em;color:black">
            <em>An <a href="http://instagram.com/developer/">Instagram-API</a> and Google Maps-API powered visualization of instagram posts with location data!</em>
            <ul style="padding-top:.5em;"><li>Log in with instagram account</li><<li>Click sidebar thumbnails to center map. Click thumbnail image markers to pull up post information and search for nearby locations. Click red location markers to find related public posts to that location. </p></li></ul>
            
            <b><a href="http://redcapmedia.com">Ronaldo Barbachano 2013</a></b>
        </div>

</template>