
<template name="nav">
    <nav>
        <span class="login">
        
            {{loginButtons align="right"}}
                {{#if currentUser}}
                    {{#if hasInstaCode}} <a class="btn user_self">instaFeed</a>{{else}}<button class="button primary instaLogin" >Loginto Instagram</button>{{/if}}
                 {{/if}}

       </span>
            {{>loggedInMenu}}
    </nav>
</template>


<template name="loggedInMenu">

    <div id="main_menu">
    
        {{#if currentUser}}

        <div id="the_markers">
           {{#each instaMarkers}}
                {{>instaMarker}}
           {{/each}}
       
        </div>
       
        {{/if}}
    </div>
</template>


<template name="instaMarker">
    <span class="row column marker">
    
    
    <b style="color:orange;float:right"><a href="{{link}}" target="_new">{{likes}}</a></b>
    <a href="#" class="focus_marker" {{#if caption}}title="{{caption}}"{{/if}}><img src="{{image_low}}"/>
    {{username}}</a>
    
    </span>
</template>