<template name="nav">
    <nav>
        <span class="login">
                    {{#if hasInstaCode}}
                        <input id="logout" type="button" value="Logout"/>
                        {{#if instaPostReady}}
                            <form class="span" style="font-size:.85em;">
                            <fieldset>
                                <input id="mFilterDefault" name="mFilter" type="radio" value="likes" /> Default
                                <input id="mFilterLikes" name="mFilter" type="radio" value="likes"/> Likes
                                <input id="mFilterLastChange" name="mFilter" type="radio" value="lastHit"/> Change
                            </fieldset>
                            </form>
                        {{else}}
                            <b>requesting...</b>
                        {{/if}}
                    
                        
                    {{/if}}

       </span>
            {{#if hasInstaCode}}
                {{>loggedInMenu}}
     
                
            {{/if}}
    </nav>
</template>

<template name="loggedInMenu">
    <div id="main_menu">
        {{#if loggingIn}}
            <b style="color:black;">working...</b>
        {{else}}
            {{#if hasInstaCode}}
              <div id="the_markers">
                {{#each instaMarkers}}
                    {{>instaMarker}}
                {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div id="locations_menu" >
        {{>instaLocations}}
    </div>
</template>

<template name="instaMarker">
    <div id="{{_id}}" class="span focus_marker instaMarker">
    <img src="{{image_thumb}}"/>
    <span class="locCheck">{{getLocationsLength}}</span>
    </div>
</template>

<template name="instaLocations">
    <ul class="instaLocations">
        <li> {{#if getStatus}}<label>{{getStatus}}</label>{{/if}}</li>
    {{#each getLocations}}
        <li><a>{{name}}</a></li>
    {{/each}}
    </ul>
</template>

